
@media screen and ( max-width: 1120px) {

	main {
		width: 100%;
	}

	.nav {
		width: 0;
		transform: translate(-200px, 0);
	}

	/*
    *header
	*/

	.header__name, 
	.header__description {
		margin: 0.2cm;
	}

	/*
    *content
	*/

	.featured-picture {
		width: 100%; 
	}

	.feature-box {
		width: 100%;
	}

	.feature-description {
		width: 100%
	}

	.picture {
		background-image: url("../img/programming-resized.jpeg");
		width: 500px;
		height: 200px;
		margin: auto;
		margin-top: 1.5em;
	}

	.content {
		height: 175px;
	}

	.featured-work {
		text-align: center;
	}

	.title {
		text-align: center;
	}

	/*
	*description
	*/

	.myself-image {
		text-align: center;
		width: 100%;
	}

	.myself-description {
		text-align: center;
		width: 100%;
	}

	.myself-description p {
		width: 100%
	}

}

@media screen and (max-width: 500px) {
	
	.title {
		font-size: 26px;
		margin: 1em;
	}

	.header__name {
		margin: 0;
	}

	.picture {
		background-image: url("../img/programming-small.PNG");
		width: 300px;
		height: 187px;
		margin: auto;
		margin-top: 1.5em;
	}

	.nav {
		transform: translate(-200px, 0);
	}

	.content {
		height: 175px;
	}
}
